In [1]:
import pandas as pd
import ptitprince as pt
import seaborn as sns
import os
import matplotlib.pyplot as plt
import numpy as np
import os
from datetime import datetime

#sns.set(style="darkgrid")
#sns.set(style="whitegrid")
#sns.set_style("white")
sns.set(style="whitegrid",font_scale=2)
import matplotlib.collections as clt

In [2]:
#read csv file with data
df = pd.read_csv ("/home/claire/Documents/STUDY/EEG-Tobacco/DATA/Surveys/Skyline - Daily messages - Intervention_21 May 2019_11.26.csv", sep= ",")

In [3]:
df1 = df[['StartDate', 'Finished', 'Q1', 'SC0']]

In [4]:
df1.sort_values(by='Q1')

,StartDate,Finished,Q1,SC0
242,2019-05-21 11:07:08,True,148,3
129,2019-05-10 10:55:43,True,148,3
67,2019-05-03 12:33:37,True,148,3
132,2019-05-10 12:54:32,True,148,3
65,2019-05-03 09:35:46,True,148,3
134,2019-05-10 17:12:13,True,148,3
62,2019-05-02 16:32:29,True,148,3
138,2019-05-11 10:08:34,True,148,3
142,2019-05-11 13:04:23,True,148,3
145,2019-05-11 16:33:19,True,148,3
148,2019-05-12 09:35:36,True,148,3
155,2019-05-12 15:13:24,True,148,3
158,2019-05-12 17:49:22,True,148,3
161,2019-05-13 10:29:28,True,148,3
169,2019-05-13 16:34:39,True,148,3
174,2019-05-14 10:08:19,True,148,3
71,2019-05-03 16:38:53,True,148,3
176,2019-05-14 12:32:53,True,148,3
126,2019-05-09 17:10:25,True,148,3
123,2019-05-09 13:21:32,True,148,3
100,2019-05-07 12:33:11,True,148,3
103,2019-05-07 16:32:58,True,148,3
92,2019-05-06 17:24:27,True,148,3
91,2019-05-06 12:35:53,True,148,3
90,2019-05-06 09:33:04,True,148,3
108,2019-05-08 11:26:53,True,148,3
110,2019-05-08 12:49:03,True,148,3
115,2019-05-08 16:43:45,True,148,3
118,2019-05-09 11:12:16,True,148,3
81,2019-05-05 16:32:26,True,148,3
...,...,...,...,...
107,2019-05-08 09:36:37,True,558,3
105,2019-05-07 17:53:32,True,558,3
93,2019-05-06 17:49:00,True,558,3
102,2019-05-07 15:51:42,True,558,3
143,2019-05-11 13:22:49,True,558,3
194,2019-05-15 16:36:16,False,558,3
144,2019-05-11 16:32:59,True,558,3
55,2019-05-01 12:33:03,True,558,3
33,2019-04-27 11:02:20,False,558,1
35,2019-04-27 16:35:36,True,558,3
37,2019-04-28 11:50:27,True,558,3
185,2019-05-15 09:59:32,True,558,3
39,2019-04-28 14:05:13,True,558,3
179,2019-05-14 16:33:02,True,558,3
177,2019-05-14 12:33:55,True,558,3
42,2019-04-29 10:22:37,True,558,3
56,2019-05-01 16:32:37,True,558,3
43,2019-04-29 13:49:36,True,558,3
97,2019-05-07 09:33:48,True,558,3
46,2019-04-29 17:01:26,True,558,3
166,2019-05-13 13:11:39,True,558,3
47,2019-04-30 09:32:43,True,558,3
50,2019-04-30 12:50:27,True,558,3
160,2019-05-13 09:37:03,True,558,3
52,2019-04-30 17:13:39,True,558,3
152,2019-05-12 12:34:35,True,558,3
150,2019-05-12 11:59:53,True,558,3
173,2019-05-14 09:46:48,True,558,3
0,Start Date,Finished,Hello! Please enter your participant number.,Score
1,"{""ImportId"":""startDate"",""timeZone"":""Europe/Lon...","{""ImportId"":""finished""}","{""ImportId"":""QID1_TEXT""}","{""ImportId"":""SC_3WwCVgm62sKLzEx""}"

In [15]:
# select data for only 1 participant
df_s= df1[df1['Q1']=='558']

In [22]:
ax = df_s.plot.hist(by=df_s['StartDate'])

2      2019-04-18 16:46:55
3      2019-04-19 09:33:54
4      2019-04-19 12:31:32
5      2019-04-19 17:46:16
6      2019-04-20 09:39:15
7      2019-04-20 12:31:32
8      2019-04-20 16:44:09
9      2019-04-21 10:11:34
10     2019-04-21 12:56:41
11     2019-04-21 16:50:49
12     2019-04-21 12:56:32
13     2019-04-22 09:31:37
14     2019-04-22 12:32:12
15     2019-04-22 16:33:09
16     2019-04-23 09:31:41
17     2019-04-23 13:26:09
18     2019-04-23 16:32:06
19     2019-04-24 09:31:34
20     2019-04-24 13:24:34
21     2019-04-24 16:31:46
22     2019-04-25 10:53:59
23     2019-04-25 12:34:17
24     2019-04-25 16:52:28
25     2019-04-26 10:28:20
27     2019-04-26 14:03:56
29     2019-04-26 16:51:28
32     2019-04-27 12:37:43
33     2019-04-27 11:02:20
35     2019-04-27 16:35:36
37     2019-04-28 11:50:27
              ...
64     2019-05-02 16:34:23
66     2019-05-03 09:36:25
69     2019-05-03 13:20:05
70     2019-05-03 16:33:47
72     2019-05-04 09:32:35
74     2019-05-04 12:36:07
80     2019-05-05 13:00:41
82     2019-05-05 16:37:48
93     2019-05-06 17:49:00
97     2019-05-07 09:33:48
102    2019-05-07 15:51:42
105    2019-05-07 17:53:32
107    2019-05-08 09:36:37
112    2019-05-08 16:32:49
117    2019-05-09 09:38:49
120    2019-05-09 12:31:44
124    2019-05-09 16:32:56
137    2019-05-11 10:07:50
143    2019-05-11 13:22:49
144    2019-05-11 16:32:59
150    2019-05-12 11:59:53
152    2019-05-12 12:34:35
160    2019-05-13 09:37:03
166    2019-05-13 13:11:39
170    2019-05-13 16:32:49
173    2019-05-14 09:46:48
177    2019-05-14 12:33:55
179    2019-05-14 16:33:02
185    2019-05-15 09:59:32
194    2019-05-15 16:36:16
Name: StartDate, Length: 71, dtype: object

In [23]:
# for each day, plot number of response == True

               StartDate Finished   Q1  SC0
2    2019-04-18 16:46:55     True  558    3
3    2019-04-19 09:33:54     True  558    3
4    2019-04-19 12:31:32     True  558    3
5    2019-04-19 17:46:16     True  558    3
6    2019-04-20 09:39:15     True  558    3
7    2019-04-20 12:31:32     True  558    3
8    2019-04-20 16:44:09     True  558    3
9    2019-04-21 10:11:34     True  558    3
10   2019-04-21 12:56:41     True  558    3
11   2019-04-21 16:50:49     True  558    2
12   2019-04-21 12:56:32    False  558  NaN
13   2019-04-22 09:31:37     True  558    3
14   2019-04-22 12:32:12     True  558    3
15   2019-04-22 16:33:09     True  558    3
16   2019-04-23 09:31:41     True  558    3
17   2019-04-23 13:26:09     True  558    3
18   2019-04-23 16:32:06     True  558    3
19   2019-04-24 09:31:34     True  558    3
20   2019-04-24 13:24:34     True  558    3
21   2019-04-24 16:31:46     True  558    3
22   2019-04-25 10:53:59     True  558    3
23   2019-04-25 12:34:17     True  558    3
24   2019-04-25 16:52:28     True  558    3
25   2019-04-26 10:28:20     True  558    3
27   2019-04-26 14:03:56     True  558    3
29   2019-04-26 16:51:28     True  558    3
32   2019-04-27 12:37:43     True  558    3
33   2019-04-27 11:02:20    False  558    1
35   2019-04-27 16:35:36     True  558    3
37   2019-04-28 11:50:27     True  558    3
..                   ...      ...  ...  ...
64   2019-05-02 16:34:23     True  558    3
66   2019-05-03 09:36:25     True  558    3
69   2019-05-03 13:20:05     True  558    3
70   2019-05-03 16:33:47     True  558    3
72   2019-05-04 09:32:35     True  558    3
74   2019-05-04 12:36:07     True  558    3
80   2019-05-05 13:00:41     True  558    3
82   2019-05-05 16:37:48     True  558    3
93   2019-05-06 17:49:00     True  558    3
97   2019-05-07 09:33:48     True  558    3
102  2019-05-07 15:51:42     True  558    3
105  2019-05-07 17:53:32     True  558    3
107  2019-05-08 09:36:37     True  558    3
112  2019-05-08 16:32:49     True  558    3
117  2019-05-09 09:38:49     True  558    3
120  2019-05-09 12:31:44     True  558    3
124  2019-05-09 16:32:56     True  558    3
137  2019-05-11 10:07:50     True  558    3
143  2019-05-11 13:22:49     True  558    3
144  2019-05-11 16:32:59     True  558    3
150  2019-05-12 11:59:53     True  558    3
152  2019-05-12 12:34:35     True  558    3
160  2019-05-13 09:37:03     True  558    3
166  2019-05-13 13:11:39     True  558    3
170  2019-05-13 16:32:49     True  558    3
173  2019-05-14 09:46:48     True  558    3
177  2019-05-14 12:33:55     True  558    3
179  2019-05-14 16:33:02     True  558    3
185  2019-05-15 09:59:32     True  558    3
194  2019-05-15 16:36:16    False  558    3

[71 rows x 4 columns]